/* Eliminar puntos de la lista */
.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 470px;
    height: 200px;
    background-color: rgb(121, 84, 84);
    border-radius: 10px;
  }

  .texto {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  
  /* Dar bordes redondeados a la imagen */
  .song img {
    border-radius: 10%;
    margin: 15px;
  }
  
  /* Capitalizar la primera letra de cada línea */
  .song li:first-letter {
    text-transform: capitalize;
  }
  
  /* Aumentar el tamaño y hacer cursiva el título */
  .song .name {
    font-size: 24px;
    font-style: italic;
  }


 .song button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 71, 71);
    color: #fff;
    font-weight: 400;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
.song button:hover {
    color: rgb(100, 71, 71);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }