body {
  background-color: rgb(151, 132, 132);
}

*{
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  background-color: rgb(100, 71, 71);
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
/* Centrar el título */
h1 {
  margin: auto;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

home-page {
  display: flex;
  flex-direction: row;
  justify-content: center
}

#outlet home-page top-songs {
  display: flex;
}

song-ui {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  align-items: center;
  padding: 20px;
}

.top-artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 0 40px;
}

top-songs {
  display: flex;
  flex-direction: row;
  
}

nav {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10%;
  font-size: 20px;
  margin: auto;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

header a:hover {
  color: rgb(100, 71, 71);
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

#buscador-artista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 20px auto 0;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #513636;
}

#buscador-artista label {
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
}

#buscador-artista input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  color: #555;
  border-radius: 10px;
  margin: 10px;
}

#buscador-artista input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #7a7f84;
}

#buscador-artista button {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(100, 71, 71);
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

#buscador-artista button:hover {
  color: rgb(100, 71, 71);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  background-color: rgb(100, 71, 71);
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0 15px;
  padding: 0;
  color: white;
}
